<div class="row">
      <div class="col-md-5">
      <%= image_tag(message.user.image_url, class: 'avatar-medium') %>
      <strong><%= message.user.username %></strong>
      <p><%= message.message_time %></p>
      </div>
      <div class="col-md-4">
      </br><%= message.content %>
      </div>
      <div class="col-md-2">
      <br/>
      <% if message.user == current_user %>
      <%= link_to image_tag('bin.svg'), conversation_message_path(id: message.id), method: :delete, data: {confirm: "Are you sure?"} %>
      <% end %>
      </div>
</div>
