<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="center">
          <div class="panel panel-button">
          <%= button_to 'View Profile', showuser_path(current_user.id), method: :get, class: 'btn center' %>
          </div>
          </div>
        </div>

    <div class="col-md-6 center">
      <h2 class="text-center"><br>Edit Profile<br/></h2>
        <%= render 'shared/devisemessage' %>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

          <label>Do you wish to be listed as a cleaner?</label><%= f.check_box :active, autofocus: true %>

        <div class="form-group">
          <label>Edit Avatar: </label><%= f.file_field :image, id: :image_data, class: "form-control" %>
        </div>

        <div class="form-group">
          <label>First Name:</label>
          <%= f.text_field :firstname, autofocus: true, class: "form-control" %>
        </div>

        <div class="form-group">
          <label>Last Name:</label>
          <%= f.text_field :lastname, autofocus: true, class: "form-control" %>
        </div>

        <div class="form-group">
          <label>Mobile Number:</label>
          <%= f.text_field :phone_number, autofocus: true, class: "form-control" %>
        </div>

        <div class="form-group">
          <label>Primary Language:</label>
          <%= f.text_field :language, autofocus: true, class: "form-control" %>
        </div>

        <div class="form-group">
          <label>Preferred Working Location</label>
          <%= f.text_field :location, autofocus: true, class: "form-control", id: "autoaddress" %>
        </div>

        <div class="form-group">
          <label>Hourly Rate:</label>
          <%= f.number_field :hourly_rate, autofocus: true, class: "form-control" %>
        </div>

        <div class="form-group">
          <label>Bio</label>
          <%= f.text_area :bio, autofocus: true, class: "form-control" %>
        </div>

        <div class="form-group">
          <label>Email</label>
          <%= f.email_field :email, autofocus: true, class: "form-control"  %>
        </div>

        <div class="form-group">
          <label>Password (leave blank if you do not wish to change)</label>
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
        </div>

        <div class="form-group">
          <label>Upload identification document (will not be public):</label>
         <%= f.file_field :identification, id: :identification_data, class: "form-control" %>
        </div>

        <label>Gender: </label><%= f.select :gender, [["Male", "Male"], ["Female", "Female"]], id: "gender", prompt: "Select...", class: "form-control" %>

        <div class="actions center">
          <%= f.submit "Update", class: 'btn btn-block center' %>
        </div>
      <% end %>
      <br><%= link_to "Back", :back, class: 'text-teal' %><br/>
  </div>
  </div>
</div>

<script>
// Trigger autolocation geocomplete (using geocomplete javascript)
$(document).ready(function() {
    $("#autoaddress").geocomplete();
  })

</script>
