<!-- This page provides the user's inbox -->

<div class="container">
<div class="row center">

  <div class="col-md-10 center">
    <div class="panel">
      <div class="panel-heading center">
      <h2>INBOX</h2>
      </div>
      <div class="panel-body">
    <!-- Find both the current user and the other person and determine whether they are recipient or sender. If there are any messages, show the other person's profile picture, username, the last message time and the content. -->

      <% @conversations.each do |conversation| %>
      <% other = current_user == conversation.sender ? conversation.recipient : conversation.sender %>
            <%= link_to conversation_messages_path(conversation) do %>
            <div class="row text-teal">
                <% if conversation.messages.any? %>
                    <div class="col-md-2">
                      <%= image_tag(other.image_url, class: 'avatar-medium') %>
                    </div>
                    <div class="col-md-2">
                      <%= other.username %>
                      <%= conversation.messages.last.message_time %>
                    </div>
                    <div class="col-md-8">
                      <%= conversation.messages.last.content %>
                    </div>
                <% end %>
            </div>
            <% end %>
      <% end %>
    </div>
  </div>
  </div>
</div>
</div>
