<!-- This page provides the user's inbox -->

<div class="container">
<div class="row">

  <div class="col-md-3">
  </div>

  <div class="col-md-9">
    <div class="row center">
      <h1>INBOX</h1>
    </div>

    <!-- Find both the current user and the other person and determine whether they are recipient or sender. If there are any messages, show the other person's profile picture, username, the last message time and the content. -->

    <div class="col-md-6 center">
      <% @conversations.each do |conversation| %>
      <% other = current_user == conversation.sender ? conversation.recipient : conversation.sender %>
            <%= link_to conversation_messages_path(conversation) do %>
            <div class="row center">
                <% if conversation.messages.any? %>
                    <div class="col-md-2">
                      <%= image_tag image_url(other), class: "img-circle" %>
                    </div>
                    <div class="col-md-2">
                      <%= other.username %>
                      <%= conversation.messages.last.message_time %>
                    </div>
                    <div class="col-md-8">
                      <%= conversation.messages.last.content %>
                    </div>
                <% end %>
            </div>
            <% end %>
      <% end %>

    </div>
  </div>
</div>
</div>
