<% users.each do |user| %>
      <div class="card" style="width: 30%;">
        <!-- If user has an avatar, show it - otherwise show the default profile avatar -->
        <% if user.image.present? %>
        <%= link_to image_tag(user.image_url, class: 'card-img-top') %>
        <% else %>
        <%= image_tag('defaultprofile.svg', class: 'card-img-top')  %>
        <% end %>

        <div class="card-body">
            <h4 class="card-title center text-teal"><%= link_to user.username, user %></h4>
            <div class= "text-teal center">$<%= user.hourly_rate %>/hr</div>
              <!-- Later add star ratings to show -->
              <!-- <div id="star_<%#= room.id %>"></div> <%#= pluralize(room.average_rating, "review") %> -->
            <br/>
            <%= link_to "VIEW", user_path(user.id), class: "btn center" %>
            <br/>
    </div>
  </div>
<% end %>


<!-- <script>
  $('#star_<%#= user.id %>').raty({
    path: '/assets',
    readOnly: true,
    score: <%#= user.average_rating %>
  });
</script> -->
