<!-- This page displays the user's profile with information like contact details and availabilities -->

<div class="container">
<div class="row">
  <div class="col-md-4 center">
<!-- If user has an avatar, show it - otherwise show the default profile avatar -->
    <div class="card">
      <% if @user.image.present? %>
      <%= image_tag(@user.image_url) %>
      <% else %>
      <%= image_tag('defaultprofile.svg') %>
      <% end %>
        <div class="panel-heading"><%= @user.username %></div>

<!-- If the current user looking at the profile is not the owner of the profile, allow them to message the user. Set sender and recipient IDs. -->
        <%# if current_user != @user %>
          <!-- <br/> -->
          <%#= link_to "Message", conversation_messages_path(sender_id: current_user.id, recipient_id: @user.id), method: :post, class: "btn center" %>
        <%# end %>
      </div>
    </div>

  <div class="col-md-4">
    <h2><strong><%= @user.firstname %> <%= @user.lastname %></strong>

<!-- If the user has uploaded their ID document (under edit profile), then this verification tick will show -->
        <% if @user.identification.present? %>
        <%= image_tag('verified.png', class: 'avatar-small') %>
        <% end %>
    </h2>

<!-- Show the hourly rate if the person is active as a cleaner. -->
    <% if @user.active == true %>
    <br>Hourly Rate: $<%= @user.hourly_rate %> per hour<br/>
    <% end %>

    <br>Gender: <%= @user.gender %><br/>
    <br>Primary language: <%= @user.language %><br/>
    <br>Location: <%= @user.location %><br/>
    <br>Bio: <%= @user.bio %><br/>
    <br/>
  </div>

  <!-- Show Google maps only if they are an active cleaner. -->
    <% if @user.active == true %>
    <div class="col-md-4 center">
    <h2>Cleaning Location</h2>
      <div id="map" style="width: 100%; height: 100%"></div>
    </div>
  <hr/>
  <% end %>
  </div>

  <!-- Show availabilities only if they are an active cleaner. -->
  <% if @user.active == true %>
  <hr/>
  <div class="row center">
    <h2>Current Availability</h2>
    <table class="reservation-table">

  <!-- For each user availability, show the date, start time and end time - and if the current user is the same as the one who owns the profile, then allow them to access edit and delete functions as well. -->
      <tbody class>
          <tr>
            <td> Date <span id="availability_date"></span></td>
            <td> Start Time <span id="availability_start_time"></span></td>
            <td> End Time <span id="availability_end_time"></span></td>
            <% if current_user.id == @user.id %>
            <td> Delete <span id="delete_availability"></span></td>
            <% else %>
            <td></td>
            <% end %>
          </tr>

      <% @availabilities.each do |availability| %>
        <% @array = []%>
        <% @appointments.each{|i| %>
        <%@array << i.date%>
      <%}%>
      <tr>
        <% if availability.user_id.present? %>
              <td> <%= availability.date %> </td>
              <td> <%= availability.start_time %> </td>
              <td> <%= availability.end_time %> </td>
              <% if current_user.id == availability.user_id %>
                  <td>
                  <%= link_to user_availability_path(id: availability.id, user_id: current_user.id), method: :delete, data: {confirm: "Are you sure?"} do %>
                    <%= image_tag('bin.svg') %>
                  <% end %>
              <% else %>
              <br>

          <% if @array.include?(availability.date) %>
            <td><div class="btn-red center">UNAVAILABLE</div></td>
          <% else %>
            <td><%= link_to "BOOK DATE", new_user_appointment_path(:user_id => @user.id, :date => availability.date), class: "btn center" %></td>
          <% end %>
      <% end %>
      </td>
    </tr>

  <!-- If there are no user availabilities, show that there are no available times. -->
                <% else %>
                  <tr> There are no available times.</tr>
                <% end %>
            <% end %>
          </tbody>
        </table>
        <br/>
  </div>

  <!-- If the user browsing the profile (i.e. the customer) is not the same person as the user who owns the profile (i.e. the cleaner), then they can book that person. -->
      <% if current_user == @user %>
      <div class= "row center">
        <br/>
        <%= link_to "ADD AVAILABILITY", new_user_availability_path(@user), class: "btn center" %>
      </div>
      <% end %>

<% end %>
  <!-- Use Javascript to feed the user's latitude and longitude based on their location (contained in the user database) to the Google maps API -->
  <!-- Google API key for Google maps -->

      <script>
          function initialize() {
            var location = {lat: <%= @user.latitude %>, lng: <%= @user.longitude %>};
            var map = new google.maps.Map(document.getElementById('map'), {
              center: location,
              zoom: 14
            });

            var marker = new google.maps.Marker({
              position: location,
              map: map
            });

            infoWindow.open(map, marker);
          }

          google.maps.event.addDomListener(window, 'load', initialize);
      </script>
  <br/>
  <br/>
</div>

<!-- Use google api javascript for autocomplete of locations when searching -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDkcAUgQQgRZQMHLPIAk-Quf-ZKqtYYuKw&libraries=places"></script>
