<!-- This page displays the user's profile with information like contact details and availabilities -->

<div class="container">
<div class="row">
  <div class="col">
    <div class="center">
    <!-- If user has an avatar, show it - otherwise show the default profile avatar -->
      <% if @user.image.present? %>
      <%= image_tag(@user.image_url) %>
      <% else %>
      <%= image_tag('defaultprofile.svg') %>
      <% end %>

    <div class="panel panel-default">
      <div class="panel-heading"><%= @user.username %></div>
      <div class="panel-body">
      </div>
    </div>
    </div>
  </div>

    <div class="col-md-5">
    <h1><%= @user.firstname %> <%= @user.lastname %>
    <!-- If the user has uploaded their ID document (under edit profile), then this verification tick will show -->
        <% if @user.identification.present? %>
        <%= image_tag('verified.png', class: 'avatar-small') %>
        <% end %>
    </h1>
    <br>Hourly Rate: $<%= @user.hourly_rate %> per hour<br/>
    <br>Gender: <%= @user.gender %><br/>
    <br>Primary language: <%= @user.language %><br/>
    <br>Location: <%= @user.location %><br/>
    <br>Bio: <%= @user.bio %><br/>
  </div>

<!-- Show availabilities -->
  <div class="col">
  <%#= render 'appointments/form' %>
  <h2>CURRENT AVAILABILITY</h2>

  <div id="preview">
    <table class="reservation-table">
      <tbody>
    <% @availabilities.each do |availability| %>
      <% if availability.user_id.present? %>
        <tr>
          <td> Date <span id="availability_date"></span></td>
          <td> Start Time <span id="availability_start_time"></span></td>
          <td> End Time <span id="availability_start_time"></span></td>
          <%# if current_user.id == @availabilities.user_id %>
          <td> Edit <span id="availability_edit"></span></td>
          <td> Delete <span id="availability_delete"></span></td>
          <%# end %>
       </tr>
        <tr>
          <td> <%#= availability.date %> Enter date<span id="availability_date"></span></td>
          <td> <%= availability.start_time %> <span id="availability_start_time"></span></td>
          <td> <%= availability.end_time %>  <span id="availability_end_time"></span></td>
        <%# if current_user.id == @availabilities.user_id %>
          <td> <%#= image_tag('edit.svg') %> <span id="availability_edit"></span></td>
          <td> <%#= image_tag('bin.svg') %> <span id="availability_delete"></span></td>
        <%# end %>
       </tr>

      <% else %>
      <tr>
      There are no available times.
      </tr>
      </tbody>
    </table>
  <% end %>
<% end %>

  </div>
  </div>
  <br/>

  <!-- Google maps -->
  <div class="row center">
      <div id="map" style="width: 80%; height: 350px"></div>

  <!-- Use Javascript to feed the user's latitude and longitude based on their location (contained in the user database) to the Google maps API -->
  <!-- Google API key for Google maps -->

      <script>
          function initialize() {
            var location = {lat: <%= @user.latitude %>, lng: <%= @user.longitude %>};
            var map = new google.maps.Map(document.getElementById('map'), {
              center: location,
              zoom: 14
            });

            var marker = new google.maps.Marker({
              position: location,
              map: map
            });

            infoWindow.open(map, marker);
          }

          google.maps.event.addDomListener(window, 'load', initialize);
      </script>
<br/>
  </div>
  <br/>
</div>
