<!-- This page displays the user's profile with information like contact details and availabilities -->

<div class="container">
<div class="row">
  <div class="col">
    <div class="center">
      <% if @user.image.present? %>
      <%= image_tag(@user.image_url, class: "avatar-full") %>
      <% end %>

    <div class="panel panel-default">
      <div class="panel-heading">Contact Details</div>
      <div class="panel-body">
      Email Address<br/>
      Phone Number
      </div>
    </div>
    </div>
  </div>

    <div class="col-md-6">
    <h1><%= @user.firstname %> <%= @user.lastname %> (<%= @user.username %>)</h1>
    Gender: <%= @user.gender %>
    Primary language: <%= @user.language %>
    Location: <%= @user.location %>
    <%= @user.bio %>
  </div>

<!-- Appointment Form -->
  <div class="col">
  <%= render 'appointments/form' %>
  </div>

  </div>
</div>
