<!-- This is the search page which allows customers to search for cleaners based on date and hourly price -->

<div class="container">
<%= search_form_for @search, url: search_path do |f| %>
  <!-- Search panel with location and date search -->
    <div class="row">
        <div class="col-md-4">
              Finding cleaners near: <%= text_field_tag :address, params[:address], placeholder: "Enter your address", class: "form-control", id: "autolocation" %>
        </div>
        <div class="col-md-4">
              Date:<%= text_field_tag :date, params[:date], readonly: true, class: "form-control" %>
        </div>
    </div>
    <div class="row">
      <div class="col-md-8 center">
        <br/>
        <%= f.submit "Find a Cleaner", class: "btn" %>
      </div>
    </div>
  <br/>
<% end %>

  <div class="row">
    <div class="col-md-8">
    <%= render partial: "users/users_list", locals: {users: @arrUsers} %>
    </div>
  </div>
<br/>
</div>

<!-- Google maps to show where the cleaners locations are, along with the hourly rate as markers on the map -->
<div class="container">
  <div id="right">
    <div id="map" style="width: 100%; height: 100%"></div>

<!-- Use google api javascript for autocomplete of locations when searching -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDkcAUgQQgRZQMHLPIAk-Quf-ZKqtYYuKw&libraries=places"></script>

    <script>
        function initialize(users) {
          var location = {lat: 33.8688, lng: 151.2093}

          if (users.length > 0) {
            location = {lat: users[0].latitude, lng: users[0].longitude}
          }

          var map = new google.maps.Map(document.getElementById('map'), {
            center: location,
            zoom: 12
          });

          var marker, inforwindow;

          users.forEach(function(user) {
            marker = new google.maps.Marker({
              position: {lat: user.latitude, lng: user.longitude},
              map: map
            });

            inforwindow = new google.maps.InfoWindow({
              content: "<div class='map_hourly_rate'>$" + user.hourly_rate + "/hr"+ "</div>"
            });

            inforwindow.open(map, marker);
          })
        }

        google.maps.event.addDomListener(window, 'load', function() {
          initialize(<%= raw @arrUsers.to_json %>)
        });
    </script>
  </div>
</div>


<!-- Script to run the datepicker  -->
<script>
  $('#date').datepicker({
    dateFormat: 'dd-mm-yy',
    minDate: 0,
    maxDate: '3m'
  });

  $(function() {
    $("#autolocation").geocomplete();
  })
</script>
