<!-- This partial is a form to both enter a new home and edit an existing home -->

<%= render "shared/errors", object: @home %>
<%= form_with(model: home, local: true) do |f| %>

    <div class="form-group">
      <p>

        <% if @home.image.present? %>
          <%= image_tag(@home.image_url, class: 'avatar-full') %>
            <%= link_to home_path(@home.image_url), remote: true, method: :delete, data: {confirm: "Are you sure?"} do %>
            <% image_tag('bin.svg') %>
            <% end %>
        <br/>
        <%= f.file_field :image, id: :image_data, class: "form-control" %>
        <% else %>
        <%= f.file_field :image, id: :image_data, class: "form-control" %>
        <% end %>
      </p>
    </div>
    <!-- Insert/Edit home photo -->

    <div class="form-group">
      <p>
        <label>Listing Name</label>
        <%= f.text_field :listing_name, id: 'listing_name', class: "form-control", required: true %>
      </p>
    </div>
    <!-- Insert/Edit listing name -->

    <div class="form-group">
      <p>
        <label>Home Type</label>
        <%= f.select :home_type, [["Apartment", "Apartment"], ["House", "House"], ["Townhouse", "Townhouse"], ["Other", "Other"]], id: "home_type", prompt: "Select...", class: "form-control", required: true %>
      </p>
    </div>
    <!-- Insert/Edit home type from dropdown -->

    <div class="form-group">
      <p>
        <label>Address:</label>
        <%= f.text_field :address, autofocus: true, class: "form-control", required: true %>
      </p>
    </div>
    <!-- Insert/Edit home address -->

    <div class="form-group">
      <p>
        <label>Instructions for cleaner:</label>
        <%= f.text_field :instructions, autofocus: true, class: "form-control" %>
      </p>
    </div>
    <!-- Insert/Edit instructions -->

    <div class="form-group">
      <p>
        <label>Hours required to clean home:</label>
        <%= f.number_field :hours, autofocus: true, class: "form-control", required: true %>
      </p>
    </div>
    <!-- Insert/Edit hours required to clean home -->

    <div class="form-group">
      <p>
      <label>Hourly rate offered:</label>
        <%= f.number_field :hourly_rate, autofocus: true, class: "form-control", required: true %>
      </p>
    </div>
    <!-- Insert/Edit hourly rate offered -->

    <div class="form-group">
      <p>
          <label>Supplies provided?</label>
          <%= f.select :supplies_provided, [["Yes", "true"], ["No", "false"]],
            id: "supplies_provided", prompt: "Select...", class: "form-control" %>
      </p>
    </div>

    <!-- Insert/Edit whether supplies are provided-->
    <%= f.submit "Save", class: "btn btn-block center" %>
<% end %>
