<!-- This page provides a snapshot summary of a user's homes including a thumbnail -->

<div class="container">
<div class="row center">

  <div class="col-md-3">
    <%= link_to "REGISTER HOME", new_home_path, class: 'btn center' %>
  </div>

<!-- Create card with the thumbnail shot of the user's home(s), as well as its listing name, address, hourly rate offered and buttons to edit, delete and view the home profile page -->

  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading center">
        HOMES
        <div class="panel-body">
          <div class="row center">

      <% @home.each do |home| %>
          <div class="card center", style="width: 40%">
            <div>
              <% if home.image.present? %>
                <%= image_tag home.image_url, class: 'avatar-full' %>
              <% end %>
            </div>

            <div class="card-body center">
              <h4 class="card-title center text-teal"><%= home.listing_name %></h4><br/>
              <p><%= home.address %></p>
              <p>Hourly rate offered: $<%= home.hourly_rate %></p>
              <%= link_to "VIEW", home_path(home.id), class: "btn center" %>
              <%= link_to "EDIT", edit_home_path(home.id), action: :patch, class: "btn center" %>
              <p><%= link_to image_tag('bin.svg'), home_path(home.id), method: :delete, data: {confirm: "Are you sure?"} %></p>
            </div>
          </div>
      <% end %>
    </div>

  </div>
</div>
</div>
