<div class="container">
<div class="row">

  <div class="col-md-3">
    <%= render 'layouts/user-sidebar' %>
  </div>
  <!-- Shows user's sidebar with home, appointments & account -->

  <div class="col-md-9">
  <div class="row center">
    <div class="col-md-3">
      <%#= image_tag image_data_home_path(@homes), class: "avatar-full" %> Listing image goes here.
      <%= link_to "EDIT HOME", home_path(@home.id), action: :patch, class: "btn center" %>
  </div>


  <div class="col-md-9">
  <section class="flex-wrapper">
  <div class="wrap_right">
      <h1 class= "center"><%= @home.listing_name %></h1>
        <dl>
        <dt>Type</dt>
        <dd><%= @home.home_type %></dd>

        <dt>Address:</dt>
        <dd><%= @home.address %></dd>
        <dt>Instructions:</dt>
        <dd><%= @home.instructions %></dd>
        <dt>Hours Required:</dt>
        <dd><%= @home.hours %></dd>
        <dt>Hourly Rate:</dt>
        <dd>$<%= @home.hourly_rate %></dd>
        <dt>Supplies Provided:</dt>
        <dd><% if @home.supplies_provided == true %>Yes<% else %>No<% end %></dd>
        </dl>
      </div>
        </section>
  </div>

    </div>

  </div>

</div>
</div>
</div>
