<!-- This page displays the profile of a user's specific home -->
<div class="container">
<div class="row">

  <div class="col-md-3">
  </div>

<!-- Create header for Home Profile page -->
  <div class="col-md-9">
    <div class="row center">
      <h1>HOME PROFILE</h1>
    </div>

<!-- Create card with all info for a specific home, including map -->
    <div class="card">
    <div class="row center">
            <div>
              <% if @home.image.present? %>
                <%= image_tag @home.image_url(:thumb), class: 'avatar-full' %>
              <% end %>
            </div>

            <br><%= @home.listing_name %></br>
            <br>Address: <%= @home.address %></br>
            <br>Hourly rate: $<%= @home.hourly_rate %></br>
    </div>
    <div class="row center">
      <%= link_to "EDIT", edit_home_path(@home.id), action: :patch, class: "btn center" %>
    <br/>
    </div>

    <!-- Google maps -->
    <div class="row center">
      <br/>
        <div id="map" style="width: 80%; height: 400px"></div>

    <!-- Use Javascript to feed the home's latitude and longitude (contained in the home database) to the Google maps API -->

        <script>
            function initialize() {
              var location = {lat: <%= @home.latitude %>, lng: <%= @home.longitude %>};
              var map = new google.maps.Map(document.getElementById('map'), {
                center: location,
                zoom: 14
              });

              var marker = new google.maps.Marker({
                position: location,
                map: map
              });

              infoWindow.open(map, marker);
            }

            google.maps.event.addDomListener(window, 'load', initialize);
        </script>

    </div>
    </div>
  </div>
</div>
</div>

<!-- Use google api javascript for autocomplete of locations when searching -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDkcAUgQQgRZQMHLPIAk-Quf-ZKqtYYuKw&libraries=places"></script>
