<!-- This page is a booking form partial to book a cleaner (if you are a customer) or to add/edit/delete your availabilities if you are the cleaner. It links each appointment/availability to a particular user. -->

<!-- Pass the user that each appointment belongs to and the appointment details - @user is the parent and @user.appointments.new is the child -->

<% if current_user == @user %>
    <h2>YOUR AVAILABILITY</h2>
    Current Availability:
    <!-- List this user's current availabilities in the table below - pull it up from the availabilities table, and allow editing and deletion -->

    <div id="preview">
      <table class="availability-table">
        <tbody>
          <tr><td>
            Date & Time: <!-- Insert both date and time here (on separate paragraph lines)
            e.g. Mon 12 Oct 2017
            <p>
            8:00 AM - 1:00 PM
            </p>
            -->
           <p>Edit <!-- Link to a new edit page to edit the availability --> | Delete <!-- Link to the delete function - pop up with "Are you sure?" to request they confirm, then use ajax to delete --> </p>
         </td></tr>
        </tbody>
      </table>

<!-- Pass through the user's new availability entry below to the availabilities table -->

      Add Availability
      <%= form_for([@user, @user.availability.new]) do |f| %>
        Date: <%= f.text_field :date, readonly: true %></br>

      <!-- Time picker using bootstrap -->
        Start Time:
          <div class="input-group bootstrap-timepicker timepicker">
            <input id="timepicker1" type="text" class="form-control input-small">
            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
          </div>

        End Time:
          <div class="input-group bootstrap-timepicker timepicker">
            <input id="timepicker1" type="text" class="form-control input-small">
            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
          </div>
        <p>
        <%= f.submit "Add Availability", class: 'btn center' %>
        </p>
<!-- Note: when adding availability to the database, the hours should be automatically calculated and entered into the database -->
    </div>
<% end %>

<% else %>
    <h2>MAKE AN APPOINTMENT</h2>

<!-- In the below form, the calendar should only show the dates that the cleaner is available, and the times that they are available for that particular date (using ajax to refresh once they've picked a date using the date picker) -->

    <%= form_for([@user, @user.appointments.new]) do |f| %>
      Date: <%= f.text_field :date, readonly: true %></br>
      <!-- Show the times that the cleaner is available for the above selected date here-->
      <%= f.submit "Book now", class: 'btn center' %>
      </p>

    <!-- <div id="preview" style="display: none">
      <table class="reservation-table">
        <tbody>
          <tr><td>Hourly Rate: $<span id="appointment_hourly_rate"></span><%#= @user.hourly_rate %></td></tr>
          <tr><td>Total Price: $<span id="appointment_total"></span><%#= @user.hourly_rate * :hours %> </td></tr>
        </tbody>
      </table>
    </div> -->
    <% end %>
<% end %>


<!-- Run script so that jquery-ui datepicker works - allows a dropdown date picker and a time picker -->
<script>
  $(function() {

    // $.ajax({
    //   url: '<%#= preload_user_path(@user) %>',
    //   dateTyp: 'json',
    //   success: function(data) {
    //     $.each(data, function(arrID, arrValue) {
    //       console.log(arrValue);
    //     });
    //   }
    //
    // })

    $('#appointment_date').datepicker({
      dateFormat: 'dd-mm-yy'
    });
  });

</script>

<script type="text/javascript">
    $('#timepicker1').timepicker();
</script>
