<!DOCTYPE html>
<html>
  <head>
    <title>Clean Nest</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- Use google api javascript for autocomplete of locations when searching -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDkcAUgQQgRZQMHLPIAk-Quf-ZKqtYYuKw&libraries=places"></script>
    <script src="jquery.geocomplete.js"></script>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

    <!-- Stylesheet to style the datepicker -->
  

  </head>

  <body>
    <%= render 'layouts/nav' %>
    <%= render 'shared/message' %>
    <%= yield %>
  </body>
</html>
